*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.carousel-inner .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
    
}

.contanier-fluidc1{
    width: 100%;
    height: 300px;
    background-image: url(../images/s5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    

}